@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cheese'; /* The name you want to use for the font */
    src: url('/Font/MouldyCheeseRegular-WyMWG.ttf') format('opentype'); /* Path to your font file */
    /* You may specify other font properties here, such as font-weight and font-style */
  }
  
  .Cheese{
    font-family: 'Cheese';
  }
  
  @font-face {
      font-family: 'Ninja'; /* The name you want to use for the font */
      src: url('/Font/AssassinNinja-w12j8.otf') format('opentype'); /* Path to your font file */
      /* You may specify other font properties here, such as font-weight and font-style */
    }

  .Ninja{
    font-family: Ninja;
  }


*{
    scrollbar-width: thin;
    scrollbar-color: var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 15px;
    border: 3px solid var(--primary);
}

:root {
    --primary: black;
    --secondary:white;
  }